{% macro articleslist(link, imgsrc, title) %}
<a class="useful__link useful__link--margin" href="{{link}}">
  <div class="useful__img">
    <img src="{{imgsrc}}" alt="Aspera" width="447" height="447">
  </div>
  <p class="useful__text">{{title}}</p>
  item
</a>
{% endmacro %}