.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 22px 0 18px 0;
  margin-top: 56px;

  min-width: 390px;

  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2em;

  color: #3f3133;
  text-align: center;
  border: 1px solid transparent;
  background-color: unset;

  @media screen and (max-width: $width-md) {
    margin-top: 0;
    padding: 20px 0 18px 0;

    min-width: 100%;
  }
}

.button--red {
  margin-top: 0;
  color: #ffffff;
  background: #8d4048;
}

.button--red:hover {
  background: transparent;
}

.button:hover {
  color: #8d4048;
  border-color: #8d4048;

  transition: ease-in-out 0.5s;
}

.button-wrapper {
  text-align: center;
}