.imgtop {
  position: relative;

  margin-top: 144px;

  height: 816px;

  @media screen and (max-width: $width-lg) {
    min-height: unset;
    margin-top: 102px;
    height: 508px;
  }
}

.imgtop__img {
  width: 100%;

  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 1540px) {
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.imgtop--short .imgtop__img {
  width: 100%;

  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    object-fit: cover;

    @media screen and (max-width: $width-xl) {
      height: 100%;
    }
  }
}

.imgtop--short {
  overflow-y: hidden;
  margin-bottom: 102px;
  height: 609px;

  @media screen and (max-width: $width-lg) {
    height: 340px;
    margin-bottom: 68px;
  }
}

.imgtop__overlay {
  @include grad();
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
}

.imgtop__title {
  z-index: 3;
  position: absolute;

  right: 0;
  left: 0;
  padding: 316px 150px 0;

  color: #ffffff;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0.05em;

  @media screen and (max-width: $break-1720) {
    font-size: 42px;
  }

  @media screen and (max-width: $width-lg) {
    padding: 145px 0 0;
    font-size: 32px;
  }
}

.imgtop__subtitle {
  z-index: 3;
  position: absolute;
  top: 426px;
  right: 0;
  left: 0;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 32px;
  line-height: 150%;
  text-align: center;

  color: #ffffff;

  @media screen and (max-width: $break-1720) {
    font-size: 28px;
    top: 375px;
  }

  @media screen and (max-width: $width-lg) {
    font-size: 20px;
    top: 195px;
  }
}