.samples {
  overflow: hidden;

  position: relative;
  margin-bottom: 113px;

  background: #fcf8f8;

  @media screen and (max-width: $width-lg) {
    background-color: unset;
    padding-bottom: 98px;
    margin-bottom: 20px;
  }
}

.samples--paddheight {
  padding-top: 145px;
  max-height: 960px;

  @media screen and (max-width: $break-1350) {
    max-height: unset;
  }

  @media screen and (max-width: $width-lg) {
    padding-top: 125px;
    padding-bottom: 28px;

    background: #fcf8f8;
  }
}

.samples__inner {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $width-lg) {
    flex-direction: column-reverse;
  }
}

.samples__slider {
  width: 100%;
}

.samples__item {
  position: relative;
  display: flex !important;
}

.samples__bg {
  position: relative;
  width: 100%;
  height: 960px;

  img {
    position: absolute;
    object-fit: cover;
    height: 100%;
  }

  @media screen and (max-width: $break-1350) {
    height: auto;
  }

  @media screen and (max-width: $width-lg) {
    display: none;
  }
}

.samples__dsc {
  position: relative;
}

.samples__dsc::after {
  position: absolute;
  content: "";
  width: 1170px;
  height: 1129px;
  top: 0;
  right: -650px;

  background: url("../img/bg/home-bg-04.png") no-repeat;

  @media screen and (max-width: $width-lg) {
    width: 208px;
    height: 318px;
    right: 0;

    background: url("../img/bg/home-bg-04-mob.png") no-repeat;
  }
}

.samples__dsc--noafter::after {
  display: none;
}

.samples__pic {
  position: absolute;
  left: -440px;
  top: 77px;

  img {
    width: 100%;
  }

  @media screen and (max-width: $break-1350) {
    max-width: 208px;
    left: 100px;
    top: 380px;
  }

  @media screen and (max-width: $width-lg) {
    top: 240px;
    left: 50px;
  }
}

.samples__pic--top {
  top: 0;

  @media screen and (max-width: $break-1350) {
    top: 290px;
  }

  @media screen and (max-width: $width-lg) {
    top: 240px;
  }
}

.samples__col {
  padding-top: 150px;
  padding-left: 224px;

  @media screen and (max-width: $break-1350) {
    padding-left: 30px;
  }

  @media screen and (max-width: $width-lg) {
    padding-top: 65px;
  }
}

.samples__col--padding {
  padding-top: 80px;
  padding-left: 285px;

  @media screen and (max-width: $break-1350) {
    padding-left: 30px;
  }

  @media screen and (max-width: $width-lg) {
    padding-top: 65px;
  }
}

.samples__mark {
  display: inline-block;
  padding: 7px 30px;
  margin-bottom: 36px;

  color: #ffffff;
  font-size: 14px;
  line-height: 17px;

  text-align: center;
  background-color: #8d4048;

  @media screen and (max-width: $width-lg) {
    margin-bottom: 28px;
  }
}

.samples__type {
  margin-bottom: 39px;

  color: #3f3133;

  font-size: 18px;
  line-height: 25px;

  letter-spacing: 0.2em;

  @media screen and (max-width: $width-lg) {
    margin-bottom: 28px;
  }
}

.samples__title {
  margin-bottom: 103px;
  text-align: left;

  @media screen and (max-width: $break-1350) {
    margin-bottom: 310px;
  }
}

.samples__title--margin {
  margin-bottom: 60px;

  @media screen and (max-width: $break-1350) {
    margin-bottom: 310px;
  }
}

.samples__text {
  padding-right: 280px;
  margin-bottom: 59px;

  @media screen and (max-width: $break-1350) {
    padding-right: 0;
  }
}

.samples__text--margin {
  margin-bottom: 80px;

  @media screen and (max-width: $width-lg) {
    margin-bottom: 38px;
  }
}

.samples__price {
  font-weight: 300;
  font-size: 36px;
  line-height: 49px;

  color: #3f3133;
}

.samples__price--margin {
  margin-bottom: 64px;

  @media screen and (max-width: $break-1350) {
    margin-bottom: 38px;
  }

  @media screen and (max-width: $width-lg) {
    margin-bottom: 33px;
  }
}

.samples__price span {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

.samples .slick-dots {
  position: absolute;
  display: flex;
  right: 255px;
  bottom: 135px;

  font-size: 0;

  @media screen and (max-width: $break-1350) {
    right: 92px;
    bottom: 20px;
  }

  @media screen and (max-width: $width-lg) {
    bottom: -70px;
    width: 100%;
    right: 0;
  }
}

.samples button {
  margin: 0 6px;
  width: 121px;
  height: 13px;

  border: 1px solid transparent;
  border-radius: 3px;

  background: #e2ceca;

  @media screen and (max-width: $break-1350) {
    width: 70px;
    height: 6px;
  }
}

.slick-active button {
  background: transparent;
  border: 1px solid #e2ceca;
  height: 15px;

  @media screen and (max-width: $break-1350) {
    width: 70px;
    height: 8px;
  }
}

.samples__link:hover {
  color: #8d4048;
  transition: ease-in-out 0.3s;
}

.samples__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-right: 15px;

  @media screen and (max-width: $width-md) {
    flex-direction: column;
  }
}

.samples__code {
  position: absolute;
  left: 765px;
  top: 143px;

  @media screen and (max-width: $break-1350) {
    left: 222px;
    top: 80px;
  }

  @media screen and (max-width: $width-lg) {
    left: 165px;
    top: 55px;
  }
}