/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  position: relative;
  z-index: 2;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: hidden;
  margin-top: -110px;

  @media screen and (max-width: $break-1720) {
    margin-top: 0;
  }
}

.container .timeline {
  max-width: unset;
  width: 520px;
}

.timeline__list {
  font-size: 0;
  width: 100vw;
  padding: 250px 0 250px 250px;
  margin-bottom: 120px;
  transition: all 1s;

  cursor: grab;

  @media screen and (max-width: $width-lg) {
    padding-left: 150px;
    margin-bottom: 35px;
  }

  @media screen and (max-width: $width-sm) {
    padding-left: 70px;
  }
}

.timeline__item {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 510px;
  height: 1px;
  background: #e2ceca;

  @media screen and (max-width: $width-lg) {
    width: 365px;
  }

  // @media screen and (max-width: $width-sm) {
  //   width: 90%;
  // }
}

.timeline__item:last-child,
.timeline__item:first-child {
  background: transparent;
}

.timeline__item:first-child {
  width: 230px;

  @media screen and (max-width: $width-lg) {
    width: 150px;
  }
}

.timeline__item span {
  position: absolute;

  right: 105%;
  margin-top: -12px;

  font-weight: 300;
  font-size: 18px;
  line-height: 28px;

  color: #3F3133;

  @media screen and (max-width: $width-lg) {
    right: 106%;
  }
}

.timeline__item:last-child span {
  @media screen and (max-width: $width-sm) {
    right: 120%;
  }
}

.timeline__item:last-child {
  width: 280px;

  @media screen and (max-width: $width-lg) {
    width: 100px;
  }
}

.timeline__item:not(:first-child) {
  margin-left: 14px;
}

.timeline__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + -74px);
  bottom: 0;
  width: 88px;
  height: 88px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #fff;
  border: 1px solid #E2CECA;
}

.timeline__text {
  position: absolute;
  left: calc(100% + -285px);
  display: flex;
  align-items: flex-start;
  width: 509px;
  height: auto;

  padding: 46px 65px 15px;

  color: #977777;
  font-size: rem(18px);
  white-space: normal;
  line-height: 28px;
  text-align: center;

  border-bottom: 1px solid #e2ceca;

  @media screen and (max-width: $width-lg) {
    padding: 15px 30px 30px;
    width: 310px;
    left: calc(100% + -190px);
  }
}

.timeline__text::before {
  content: "";
  position: absolute;
  top: 92%;
  left: 225px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline__item:nth-child(odd) .timeline__text {
  top: -77px;
  transform: translateY(-100%);
  align-items: flex-end;
  padding: 15px 65px 46px;

  @media screen and (max-width: $width-lg) {
    padding: 15px 30px 30px;
  }
}

.timeline__item:nth-child(odd) .timeline__text::before {
  content: "";
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  left: 233px;
  border-bottom: 1px solid #e2ceca;
  border-left: 1px solid #e2ceca;
  border-right: none;
  border-top: none;

  transform: rotate(-45deg);
  background: #fff;

  @media screen and (max-width: $width-lg) {
    left: 140px;
  }
}

.timeline__item:nth-child(even) .timeline__text {
  top: calc(100% + 80px);
  border-bottom: none;
  border-top: 1px solid #e2ceca;
}

.timeline__item:nth-child(even) .timeline__text::before {
  content: "";
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: -20px;
  left: 233px;
  border-bottom: 1px solid #e2ceca;
  border-left: 1px solid #e2ceca;
  border-right: none;
  border-top: none;

  transform: rotate(135deg);
  background: #fff;

  @media screen and (max-width: $width-lg) {
    left: 140px;
  }
}

.timeline__title {
  margin-bottom: 154px;

  @media screen and (max-width: $width-lg) {
    margin-bottom: 60px;
  }
}

/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
  position: absolute;
  top: 340px;
  right: 135px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $width-sm) {
    right: 90px;
    top: 390px;
  }
}

.arrow__prev,
.arrow__next {
  border: none;
  background: transparent;
}

.arrow__prev {
  transform: rotate(180deg);
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;

  @media screen and (max-width: $width-sm) {
    margin-right: 120px;
  }
}

.timeline .disabled {
  opacity: 0.5;
}

// .timeline .arrows img {
//   width: 45px;
//   height: 45px;
// }