/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.something {
  background: #F45B69;
  padding: 50px 0;
  margin-bottom: 50px;
}

.something .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.something h1 {
  font-size: 2.5rem;
}

.something h2 {
  font-size: 1.3rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  overflow: hidden;
  white-space: nowrap;
  overflow-x: hidden;

  padding-top: 80px;
}

.timeline__list {
  font-size: 0;
  width: 100vw;
  padding: 250px 0 250px 250px;
  transition: all 1s;

  cursor: grab;
}

.timeline__item {
  position: relative;
  display: inline-block;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  list-style-type: none;
  width: 362px;
  height: 3px;
  background: $font-main;
}

.timeline__item span {
  position: absolute;

  right: 107%;
  margin-top: -12px;

  font-weight: 300;
  font-size: 18px;
  line-height: 28px;

  color: #3F3133;
}

.timeline__item:last-child {
  width: 280px;
}

.timeline__item:not(:first-child) {
  margin-left: 14px;
}

.timeline__item:not(:last-child)::after {
  // content: "";
  // position: absolute;
  // top: 50%;
  // left: calc(100% + 1px);
  // bottom: 0;
  // width: 12px;
  // height: 12px;
  // transform: translateY(-50%);
  // border-radius: 50%;
  // background: #F45B69;
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + -74px);
  bottom: 0;
  width: 88px;
  height: 88px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #fff;
  border: 1px solid #E2CECA;
}

.timeline__item div {
  position: absolute;
  // left: calc(100% + 7px);
  left: calc(20% + 10px);
  width: 509px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: #fff;
  border-bottom: 1px solid #e2ceca;

  height: auto;
}

.timeline__item div::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 190px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline__item:nth-child(odd) div {
  top: -100px;
  transform: translateY(-100%);
}

.timeline__item:nth-child(odd) div::before {
  top: 100%;
  border-width: 60px 60px 0 60px;
  border-color: #e2ceca transparent transparent transparent;
}

.timeline__item:nth-child(even) div {
  top: calc(100% + 90px);
}

.timeline__item:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent #e2ceca;
}

// .timeline time {
//   display: block;
//   font-size: 1.2rem;
//   font-weight: bold;
//   margin-bottom: 8px;
// }


.timeline__title {
  margin-bottom: 83px;
}

/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .disabled {
  opacity: .5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}