.advantages__list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.advantages__item {
  max-width: 380px;
}

.advantages__img {
  margin: 0 auto;
  margin-bottom: 40px;
}

.advantages__title {
  margin-bottom: 32px;
}

.advantages__subtitle {
  margin-bottom: 26px;

  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 32px;
  line-height: 150%;

  color: #8d4048;
}

.bg-img {
  z-index: 0;
  overflow: hidden;

  img {
    max-width: unset;
    width: 100%;
  }
}