.article__container {
  padding-left: 158px;
  padding-right: 158px;

  @media screen and (max-width: $width-lg) {
    padding-left: 0;
    padding-right: 0;
  }
}

.article__intro {
  position: relative;
  padding: 55px 155px;
  margin-bottom: 80px;
  font-size: 24px;
  line-height: 38px;

  border-top: 1px solid #e2ceca;
  border-bottom: 1px solid #e2ceca;

  @media screen and (max-width: $width-xl) {
    padding: 35px 15px;
    margin-bottom: 35px;
  }
}

.article__intro::before {
  position: absolute;
  content: "";
  top: -110px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1px;
  height: 110px;

  background: #e2ceca;
}

.article__body {
  padding-left: 144px;
  padding-right: 110px;

  @media screen and (max-width: $width-xl) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.article__title {
  position: relative;
  margin-bottom: 45px;

  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 32px;
  line-height: 150%;
  color: #8d4048;

  text-align: left;

  @media screen and (max-width: $width-xl) {
    padding-left: 25px;
    margin-bottom: 25px;
    font-size: 24px;
  }

  @media screen and (max-width: $width-md) {
    font-size: 20px;
  }
}

.article__title::before {
  position: absolute;
  content: "";
  left: -55px;
  top: 20px;
  width: 11px;
  height: 11px;
  background: #8d4048;

  @media screen and (max-width: $width-xl) {
    left: 0;
    top: 12px;
  }
}

.article__paragraph {
  margin-bottom: 30px;

  @media screen and (max-width: $width-md) {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

.article__img {
  margin-top: 40px;
  margin-bottom: 63px;
  width: 100%;
  height: auto;
  max-height: 469px;

  overflow: hidden;
}

.article__wrapper {
  padding-left: 40px;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 45px;
  max-width: 520px;

  border-left: 1px solid #e2ceca;
}

.article__note {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 38px;

  color: #3f3133;
}

.article__recipe {
  padding: 28px 48px 31px 31px;
  margin-bottom: 75px;

  background: #fcf8f8;

  @media screen and (max-width: $width-md) {
    padding: 28px;
    margin-bottom: 15px;
  }
}

.article__subtitle {
  margin-bottom: 25px;

  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 38px;
  color: #8d4048;
}

.article__component {
  @media screen and (max-width: $width-md) {
    font-size: 16px;
  }
}

// .links
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 140px;
  margin-bottom: 80px;

  @media screen and (max-width: $width-xl) {
    flex-direction: column;

    padding: 0 15px;
    margin-bottom: 60px;
  }

  @media screen and (max-width: $width-md) {
    padding: 0 85px;
  }
}

.links__prev,
.links__next {
  position: relative;
  display: block;
  max-width: 460px;
  min-height: 52px;

  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2em;
  color: #3f3133;

  @media screen and (max-width: $width-xl) {
    margin-bottom: 25px;

    font-size: 14px;
  }
}

.links__prev:hover,
.links__next:hover {
  color: #8d4048;
}

.links__prev span,
.links__next span {
  position: absolute;
  display: block;
  width: 22px;
  height: 8px;
  top: -5px;
  font-size: 27px;
}

.links__prev span {
  left: -58px;
}

.links__next span {
  right: -58px;
}

// ./links