.contacts {
  margin-bottom: 75px;

  @media screen and (max-width: $width-lg) {
    margin-bottom: 45px;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 110px;

  @media screen and (max-width: $width-lg) {
    flex-direction: column;
    margin-bottom: 34px;
  }
}

.contacts__address {
  margin-right: 160px;
  width: 25%;

  @media screen and (max-width: $width-lg) {
    margin-right: 0;
    width: auto;
  }

  @media screen and (max-width: $width-sm) {
    margin-right: 0;
    width: 100%;
  }
}

.contacts__map {
  position: relative;
  width: 75%;
  min-height: 960px;

  @media screen and (max-width: $width-lg) {
    width: 100%;
    min-height: 500px;
  }
}

.contacts__inner {
  position: absolute;

  @media screen and (max-width: $width-lg) {
    width: 100%;
    height: 100%;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.contacts__post {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.contacts__link {
  margin-bottom: 35px;

  color: #3f3133;
}

.contacts__link:hover {
  color: #8d4048;
  transition: ease-in-out 0.3s;
}

// .feedback
.feedback__title {
  margin-bottom: 115px;

  @media screen and (max-width: $width-lg) {
    margin-bottom: 30px;
  }
}

.feedback__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 524px;
}

.feedback__text,
.feedback__input {
  padding: 19px 0 18px 30px;
  margin-bottom: 30px;
  min-height: 65px;

  color: #3f3133;
  border: unset;
  border-bottom: 1px solid #e2ceca;
}

.feedback__text {
  min-height: 189px;
  border-left: 1px solid #e2ceca;
  border-right: 1px solid #e2ceca;
}

.feedback__text:focus,
.feedback__input:focus {
  outline: none;
  border-color: #3f3133;
}

.feedback ::placeholder {
  color: #977777;
  font-size: 18px;

  @media screen and (max-width: $width-lg) {
    font-size: 16px;
  }
}

// ./feedback