.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  background: #ffffff;
}

.header--main {
  position: absolute;
  top: 74px;
  background: rgba(255, 255, 255, 0.7);

  @media screen and (max-width: $break-1720) {
    top: 0;
    background: #ffffff;
  }
}

.header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

.header__home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 34px;

  @media screen and (max-width: $width-lg) {
    padding-top: 12px;
    padding-bottom: 10px;
  }
}

.header__logo {
  z-index: 11;
  margin-top: -26px;
  margin-left: 95px;
  margin-right: auto;
  font-size: 0;

  @media screen and (max-width: $break-1350) {
    margin-left: 130px;
    transform: scale(0.8);
  }

  @media screen and (max-width: $width-lg) {
    margin-left: 0;
    // margin-top: 0;
    transform: scale(0.7);
  }
}

.header__wrapper {
  z-index: 11;
  display: flex;
  align-items: center;

  @media screen and (max-width: $width-lg) {
    justify-content: center;
    flex-grow: 1;
  }
}

.header__wrapper .header__link {
  @media screen and (max-width: $width-lg) {
    display: none;
  }
}

.header__search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  width: 60px;
  height: 60px;
  font-size: 0;

  svg {
    fill: #3f3133;
  }

  @media screen and (max-width: $break-1350) {
    margin-right: 30px;
  }
}

.header__search.active {
  z-index: 20;
  background: #fcf8f8;

  svg {
    fill: #8d4048;
  }
}

.header__wrapper label {
  font-size: 0;
}

.header__bag {
  font-size: 0;

  svg {
    stroke: #3f3133;
  }
}

.header__search button[type='submit'] {
  background: transparent;
  border: none;
}

.header__bag:hover {
  svg {
    stroke: #8d4048;
    transition: ease-in-out 0.3s;
  }
}

.header__search:hover {
  svg {
    fill: #8d4048;
    transition: ease-in-out 0.3s;
  }
}

.header__link {
  margin-right: 40px;

  color: #3f3133;
  line-height: 28px;
  text-transform: uppercase;

  @media screen and (max-width: $break-1350) {
    margin-right: 20px;
  }

  @media(max-width: $width-lg) {
    padding: 15px 0;
    margin-right: 0;
    color: #ffffff;
    font-size: 18px;
  }
}

.header__link:hover {
  color: #8d4048;
  transition: ease-in-out 0.3s;
}

.header__inpsearch {
  position: absolute;

  width: 0;
  height: 0;
  color: #3f3133;
  font-size: 20px;
  bottom: -3.125rem;
  border: none;
  background-color: transparent;
}

.header__inpsearch.active {
  padding-left: 28px;
  padding-bottom: 0;
  width: 509px;
  right: 0;
  height: 80px;
  top: 59px;
  transition: all ease-in-out 0.3s;
  outline: none;
  background: #fcf8f8;
  border-top: 1px solid #e2ceca;
  border-bottom: 1px solid #e2ceca;
}