// .home
.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__title {
  z-index: 5;
  position: absolute;

  color: #ffffff;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

// ./home
// .slider-header
// .slider-header {
//   margin-bottom: 156px;
// }

.slider-header__container {
  position: relative;
}

.slider-header__overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;

  background: #5b3d40;
  opacity: 0.6;
}

.slider-header__img {
  width: 100%;
}

// ./slider-header

// .products
.products {
  margin-bottom: 105px;
}

.products__item {
  position: relative;
  display: flex !important;
  justify-content: flex-end;
  align-items: center;

  max-width: 530px;
  height: 640px;
}

.products__link {
  z-index: 5;
  display: block;
}

.products__link:hover {
  color: #8d4048;
  // text-shadow: 5px 5px 15px #3f3133;
  transition: ease-in-out 0.3s;
}

.products__img {
  position: absolute;
  width: 100%;
  height: 100%;

  opacity: 0.4;
}

.products__title {
  padding-left: 250px;
  padding-right: 65px;

  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 32px;
  line-height: 150%;
}

// ./products
// .intro 
.intro {
  position: relative;
  padding-top: 156px;
  margin-bottom: 75px;

  overflow: hidden;
}

.intro::before {
  position: absolute;
  content: "";
  top: 24px;
  left: 0;
  width: 294px;
  height: 936px;
  background: url("../img/bg/home-bg-02.png") no-repeat;
}

.intro__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro__title {
  z-index: 2;
  align-self: flex-start;
  padding-top: 24px;
  margin-right: -100px;
  margin-left: -120px;
  text-align: right;
}

.intro__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 620px;
  min-height: 620px;
}

.intro__img img {
  position: absolute;
  max-width: 648px;
  max-height: 648px;
}

.intro_dsc {
  z-index: 2;
  margin-left: -25px;
  max-width: 523px;
}

.intro__link {
  display: block;
  margin-top: 56px;

  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2em;

  color: #3f3133;
  text-align: center;
}

// ./intro