// .home
.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__title {
  z-index: 2;
  position: absolute;
  padding: 405px 330px 0 330px;
  width: 100%;

  color: #ffffff;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (max-width: $break-1720) {
    padding: 360px 330px 0 330px;
    font-size: 42px;
    letter-spacing: 0.05em;
  }

  @media screen and (max-width: $break-1350) {
    padding: 208px 330px 0 330px;

    font-size: 38px;
  }

  @media screen and (max-width: $width-xl) {
    padding: 208px 200px 0 200px;
  }

  @media screen and (max-width: $width-lg) {
    padding: 208px 15px 0;
    font-size: 32px;
  }
}

.home__arrow {
  z-index: 2;
  position: absolute;
  top: 415px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $break-1720) {
    top: 375px;
  }

  @media screen and (max-width: $break-1350) {
    top: 220px;
  }

  @media screen and (max-width: $width-lg) {
    top: unset;
    bottom: 27px;
  }
}

.home__prev,
.home__next {
  padding-right: 34px;
  padding-left: 33px;
  font-size: 0;

  border: none;
  background-color: transparent;

  svg {
    fill: #ffffff;
    opacity: 0.6;
  }

  @media screen and (max-width: $break-1720) {
    padding-right: 134px;
    padding-left: 133px;

    svg {
      width: 36px;
      height: 69px;
    }
  }

  @media screen and (max-width: $width-lg) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.home__prev:hover,
.home__next:hover {
  svg {
    opacity: 1;
    transition: ease-in-out 0.3s;
  }
}

.home__prev:focus,
.home__next:focus {
  outline: none;
}

.home__prev {
  left: 0;
}

.home__next {
  right: 0;
}

.home__down {
  z-index: 3;
  position: absolute;

  bottom: 111px;
  width: 200px;
  height: 100px;

  @media screen and (max-width: $width-lg) {
    height: 95px;
  }
}

.home__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.2em;

  color: #ffffff;

  svg {
    margin-top: 20px;
    fill: #ffffff;
  }
}

.home__link:hover {
  color: #8d4048;
  transition: ease-in-out 0.3s;

  svg {
    fill: #8d4048;
    transition: ease-in-out 0.3s;
  }
}

// ./home

// .social
.social {
  z-index: 3;
  position: absolute;
  right: 52px;
  top: 307px;

  @media screen and (max-width: $break-1350) {
    top: 175px;
  }

  @media screen and (max-width: $width-lg) {
    display: none;
  }
}

.social--mobile {
  display: none;

  @media screen and (max-width: $width-lg) {
    position: relative;
    display: block;
    right: 0;
    top: 0;
  }
}

.social__item {
  margin-bottom: 116px;

  @media screen and (max-width: $break-1720) {
    margin-bottom: 50px;
  }

  @media screen and (max-width: $break-1350) {
    margin-bottom: 20px;
  }
}

.social__link {
  font-size: 0;

  svg {
    fill: #ffffff;
  }
}

.social__link:hover {
  svg {
    fill: #8d4048;
    transition: ease-in-out 0.3s;
  }
}

// ./social
// .slider-header
.slider-header {
  width: 100%;
}

.slider-header__slide {
  position: relative;
  max-height: 960px;

  @media screen and (max-width: $width-lg) {
    max-height: unset;
    height: 569px;
  }
}

.slider-header__overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;

  background: #5b3d40;
  opacity: 0.6;
}

.slider-header__img {
  width: 100%;

  @media screen and (max-width: $width-lg) {
    height: 100%;
    object-fit: cover;
  }
}

// ./slider-header
// .samples slider
.samples {
  overflow: hidden;

  position: relative;
  margin-bottom: 113px;

  background: #fcf8f8;

  @media screen and (max-width: $width-lg) {
    background-color: unset;
    padding-bottom: 98px;
    margin-bottom: 20px;
  }
}

.samples__slider {
  width: 100%;
}

.samples__item {
  position: relative;
  display: flex !important;
}

.samples__bg {
  width: 100%;
  height: 960px;

  img {
    object-fit: cover;
    height: 100%;
  }

  @media screen and (max-width: $break-1350) {
    height: auto;
  }

  @media screen and (max-width: $width-lg) {
    display: none;
  }
}

.samples__dsc {
  position: relative;
}

.samples__dsc::after {
  position: absolute;
  content: "";
  width: 1170px;
  height: 1129px;
  top: 0;
  right: -650px;

  background: url("../img/bg/home-bg-04.png") no-repeat;

  @media screen and (max-width: $width-lg) {
    width: 208px;
    height: 318px;
    right: 0;

    background: url("../img/bg/home-bg-04-mob.png") no-repeat;
  }
}

.samples__pic {
  position: absolute;
  left: -440px;
  top: 77px;

  img {
    width: 100%;
  }

  @media screen and (max-width: $break-1350) {
    max-width: 208px;
    left: 100px;
    top: 380px;
  }

  @media screen and (max-width: $width-lg) {
    top: 240px;
    left: 50px;
  }
}

.samples__col {
  padding-top: 150px;
  padding-left: 224px;

  @media screen and (max-width: $break-1350) {
    padding-left: 30px;
  }

  @media screen and (max-width: $width-lg) {
    padding-top: 65px;
  }
}

.samples__mark {
  display: inline-block;
  padding: 7px 30px;
  margin-bottom: 36px;

  color: #ffffff;
  font-size: 14px;
  line-height: 17px;

  text-align: center;
  background-color: #8d4048;

  @media screen and (max-width: $width-lg) {
    margin-bottom: 28px;
  }
}

.samples__type {
  margin-bottom: 39px;

  color: #3f3133;

  font-size: 18px;
  line-height: 25px;

  letter-spacing: 0.2em;

  @media screen and (max-width: $width-lg) {
    margin-bottom: 28px;
  }
}

.samples__title {
  margin-bottom: 103px;
  text-align: left;

  @media screen and (max-width: $break-1350) {
    margin-bottom: 310px;
  }
}

.samples__text {
  padding-right: 335px;
  margin-bottom: 59px;

  @media screen and (max-width: $break-1350) {
    padding-right: 0;
  }
}

.samples__price {
  font-weight: 300;
  font-size: 36px;
  line-height: 49px;

  color: #3f3133;
}

.samples__price span {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

.samples .slick-dots {
  position: absolute;
  display: flex;
  right: 255px;
  bottom: 135px;

  font-size: 0;

  @media screen and (max-width: $break-1350) {
    right: 92px;
    bottom: 20px;
  }

  @media screen and (max-width: $width-lg) {
    bottom: -70px;
    width: 100%;
    right: 0;
  }
}

.samples button {
  margin: 0 6px;
  width: 121px;
  height: 13px;

  border: 1px solid transparent;
  border-radius: 3px;

  background: #e2ceca;

  @media screen and (max-width: $break-1350) {
    width: 70px;
    height: 6px;
  }
}

.slick-active button {
  background: transparent;
  border: 1px solid #e2ceca;
  height: 15px;

  @media screen and (max-width: $break-1350) {
    width: 70px;
    height: 8px;
  }
}

// ./samples


// .products
.products {
  position: relative;
  margin-bottom: 105px;

  @media screen and (max-width: $width-lg) {
    margin-bottom: 30px;
  }
}

.products__item {
  position: relative;
  display: flex !important;
  justify-content: flex-end;
  align-items: center;

  max-width: 530px;
  height: 640px;

  @media screen and (max-width: $width-lg) {
    height: 415px;

    img {
      transform: scale(0.8);
    }
  }
}

.products__link {
  z-index: 5;
  display: block;
}

.products__link:hover {
  color: #8d4048;
  transition: ease-in-out 0.3s;
}

.products__img {
  position: absolute;
  width: 100%;
  height: 100%;

  opacity: 0.4;
}

.products__title {
  padding-left: 250px;
  padding-right: 65px;

  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 32px;
  line-height: 150%;

  @media screen and (max-width: $width-lg) {
    padding-left: 85px;
    font-size: 20px;
  }
}

.products__prev,
.products__next {
  position: absolute;
  right: 0;
  bottom: 55px;

  font-size: 0;
  background: transparent;
  border: none;

  svg {
    fill: #8d4048;
  }

  @media screen and (max-width: $width-lg) {
    bottom: 0;
  }
}

.products__prev {
  right: 130px;

  @media screen and (max-width: $width-lg) {
    right: 80px;
  }
}

// ./products
// .intro 
.intro {
  position: relative;
  padding-top: 176px;
  padding-bottom: 60px;

  overflow: hidden;

  @media screen and (max-width: $break-1350) {
    padding-top: 65px;
    padding-bottom: 50px;
  }
}

.intro::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 294px;
  height: 936px;
  background: url("../img/bg/home-bg-02.png") no-repeat;

  @media screen and (max-width: $width-md) {
    bottom: unset;
    top: 20px;
    width: 112px;
    height: 457px;
    background-size: contain;
  }
}

.intro__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $break-1720) {
    flex-direction: column;
  }
}

.intro__title {
  z-index: 2;
  align-self: flex-start;
  padding-top: 24px;
  margin-right: -100px;
  margin-left: -120px;

  font-size: rem(54px);
  line-height: 150%;
  text-align: right;

  @media screen and (max-width: $break-1720) {
    align-self: unset;
    padding-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 33px;
    font-size: rem(48px);
    text-align: center;
  }

  @media screen and (max-width: $width-lg) {
    font-size: rem(28px);
  }
}

.intro__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 620px;
  min-height: 620px;

  @media screen and (max-width: $break-1720) {
    margin-bottom: 38px;
    min-width: unset;
    min-height: unset;
    width: 451px;
    height: 451px;
  }

  @media screen and (max-width: $width-sm) {
    width: 251px;
    height: 251px;
  }
}

.intro__img img {
  position: absolute;
  max-width: 648px;
  max-height: 648px;

  @media screen and (max-width: $break-1720) {
    max-width: unset;
    max-height: unset;
    width: 100%;
    height: 100%;
  }
}

.intro__dsc {
  z-index: 2;
  margin-left: -25px;
  max-width: 523px;

  @media screen and (max-width: $width-sm) {
    margin-left: 0;
    max-width: unset;

    font-size: 1rem;
  }
}

.intro__paragraph {
  margin-bottom: 30px;
}

// ./intro
// .useful

.useful {
  padding-top: 125px;

  background: #fcf8f8;

  @media screen and (max-width: $width-lg) {
    padding-top: 35px;
    background-color: unset;
  }
}

.useful__container {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;

  @media screen and (max-width: $break-1350) {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.useful__img {
  margin-bottom: 30px;

  @media screen and (max-width: $width-lg) {
    margin-bottom: 20px;
  }
}

.useful__link {
  display: inline-block;
  margin: 0 5px;
  max-width: 447px;

  font-size: 0;
  line-height: 0;

  @media screen and (max-width: $break-1350) {
    margin-bottom: 35px;
  }
}

.useful__link:hover .useful__img {
  opacity: 0.5;
  transition: ease-in-out 0.5s;
}

.useful__link:hover .useful__text {
  color: #8d4048;
  transition: ease-in-out 0.5s;
}

.useful__text {
  color: #3f3133;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 32px;
  line-height: 150%;

  text-align: center;

  @media screen and (max-width: $width-lg) {
    font-size: 20px;
  }
}

// ./useful