{% set title = "О нас | Aspera" %}
{% include "../templates/header.njk" %}
<div class="imgtop">
  <div class="imgtop__img">
    <div class="imgtop__overlay"></div>
    <img src="assets/img/bg/about-bg-01.png" alt="Aspera" width="1920" height="816">
  </div>
  <h1 class="title imgtop__title container">О компании</h1>
  <p class="imgtop__subtitle">Все лучшее от природы</p>
</div>
<section class="timeline">
  <h2 class="timeline__title title">История</h2>
  <ol class="timeline__list">
    <li class="timeline__item">
      <span></span>
      <div class="timeline__text">
        открыты наши торговые представительства в 10 регионах России, Белоруссии и Казахстана
      </div>
    </li>
    <li class="timeline__item">
      <span>2015</span>
      <div class="timeline__text">
        продукция Аспера представлена более чем в 35000 аптеках России, Белоруссии и Казахстана
      </div>
    </li>
    <li class="timeline__item">
      <span>2014</span>
      <div class="timeline__text">
        Аспера член IFEAT - международной федерации по торговле эфирными маслами и ароматизаторами
      </div>
    </li>
    <li class="timeline__item">
      <span>2013</span>
      <div class="timeline__text">
        Более чем из 30 стран мира мы осуществляем поставки сырья, изготовленного на предприятиях имеющих собственные
        посевные площади и прошедших сертификацию по стандартам ISO
      </div>
    </li>
    <li class="timeline__item">
      <span>2012</span>
      <div class="timeline__text">
        Аспера член IFEAT - международной федерации по торговле эфирными маслами и ароматизаторами
      </div>
    </li>
    <li class="timeline__item">
      <span>2011</span>
      <div class="timeline__text">
        Аспера член IFEAT - международной федерации по торговле эфирными маслами и ароматизаторами
      </div>
    </li>
    <li class="timeline__item">
      <span>2010</span>
    </li>
  </ol>

  <div class="arrows">
    <button class="arrow arrow__prev disabled" disabled>
      <span>
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22 10.9998L18.4791 7.479V10.3069L0 10.3069L0 11.6928L18.4791 11.6928V14.5208L22 10.9998Z"
            fill="#3F3133" />
        </svg>
      </span>
    </button>
    <button class="arrow arrow__next">
      <span>
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22 10.9998L18.4791 7.479V10.3069L0 10.3069L0 11.6928L18.4791 11.6928V14.5208L22 10.9998Z"
            fill="#3F3133" />
        </svg>
      </span>
    </button>
  </div>
</section>
<section>
  <div class="pagerow">
    <div class="pagerow__rel">
      <div class="pagerow__overlay"></div>
      <img src="assets/img/bg/about-bg-02.png" alt="Aspera" width="960" height="960">
      <div class="pagerow__dsc">
        <p class="pagerow__slogan title">Природа - неиссякаемый источник нашего вдохновения</p>
      </div>
    </div>
    <div class="pagerow__container container">
      <div>
        <h2 class="pagerow__title title">Что мы предлагаем</h2>
        <p class="pagerow__paragraph">
          Более 10 лет наша компания производит 100% натуральные эфирные и косметические масла. Мы используем только
          высококачественное растительное сырье, которое соответствует высоким международным стандартам качества.
        </p>
        <a class="button" href="production.html">посмотреть производство <span> &rarr;</span></a>
      </div>
    </div>
  </div>
  <section class="advantages container">
    <h2 class="advantages__title title">Наши преимущества</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <img class="advantages__img" src="assets/img/icons/icon-about-01.png" alt="Aspera" width="251" height="167">
        <h3 class="advantages__subtitle">Экологичность</h3>
        <p class="advantages__paragraph">
          Сохраняем природные свойства сырья на всех этапах производства, бережно заботясь о природе.
        </p>
      </li>
      <li class="advantages__item">
        <img class="advantages__img" src="assets/img/icons/icon-about-02.png" alt="Aspera" width="263" height="255">
        <h3 class="advantages__subtitle">Профессионализм</h3>
        <p class="advantages__paragraph">
          АСПЕРА – это сплоченная команда сильных, опытных и квалифицированных профессионалов. Мы ценим все настоящее и
          подлинное.
        </p>
      </li>
      <li class="advantages__item">
        <img class="advantages__img" src="assets/img/icons/icon-about-03.png" alt="Aspera" width="112" height="184">
        <h3 class="advantages__subtitle">Большая сеть продаж</h3>
        <p class="advantages__paragraph">
          Наша продукция представлена в более чем 20 000 аптеках России. Доверие потребителя – это лучшая награда за
          качество.
        </p>
      </li>
    </ul>
  </section>
  <div class="pagerow">
    <div class="pagerow__container pagerow__container--padding container">
      <div>
        <h2 class="pagerow__title title">Мы знаем все о маслах</h2>
        <p class="pagerow__paragraph">
          Собранные нашими учеными этноботаниками знания о целебных свойствах растений легли в основу идей создания
          ассортимента продукции АСПЕРА. Наши эфирные, косметические и пищевые масла – это уникальная коллекция масел,
          полученных из растений, произрастающих более чем в 30 странах мира.
        </p>
        <a class="button" href="production.html">смотреть продукцию <span> &rarr;</span></a>
      </div>
    </div>
    <div class="pagerow__rel pagerow__rel--height">
      <img src="assets/img/bg/about-bg-03.png" alt="Aspera" width="950" height="782">
    </div>
  </div>
</section>
<div class="bground">
  {% include "../templates/arrowup.njk" %}
</div>
{% include "../templates/footer.njk" %}