{% set title = "О нас | Aspera" %}
{% include "../templates/header.njk" %}

<section class="something">
  <div class="container">
    <h1>Horizontal Timeline &rarr;</h1>
  </div>
</section>
<section class="timeline">

  <ol>
    <li>
      <span>2014</span>
      <div>
        открыты наши торговые представительства в 10 регионах России, Белоруссии и Казахстана
      </div>
    </li>
    <li>
      <span>2013</span>
      <div>
        продукция Аспера представлена более чем в 35000 аптеках России, Белоруссии и Казахстана
      </div>
    </li>
    <li>
      <span>2012</span>
      <div>
        Аспера член IFEAT - международной федерации по торговле эфирными маслами и ароматизаторами
      </div>
    </li>
    <li>
      <span>2011</span>
      <div>
        Более чем из 30 стран мира мы осуществляем поставки сырья, изготовленного на предприятиях имеющих собственные
        посевные площади и прошедших сертификацию по стандартам ISO
      </div>
    </li>
    <li>
      <span>2010</span>
      <div>
        Более чем из 30 стран мира мы осуществляем поставки сырья, изготовленного на предприятиях имеющих собственные
        посевные площади и прошедших сертификацию по стандартам ISO
      </div>
    </li>
    <li>
      <span>2009</span>
      <div>
        Более чем из 30 стран мира мы осуществляем поставки сырья, изготовленного на предприятиях имеющих собственные
        посевные площади и прошедших сертификацию по стандартам ISO
      </div>
    </li>
  </ol>

  <div class="arrows">
    <button class="arrow arrow__prev disabled" disabled>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_prev.svg" alt="prev timeline arrow">
    </button>
    <button class="arrow arrow__next">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_next.svg" alt="next timeline arrow">
    </button>
  </div>
  <h2>T</h2>
</section>

{% include "../templates/footer.njk" %}