{% set title = "Масло для релаксации | Aspera" %}
{% include "../templates/header.njk" %}
<div class="imgtop imgtop--short">
  <div class="imgtop__img">
    <div class="imgtop__overlay"></div>
    <img src="assets/img/bg/bg-imptop01.png" alt="Aspera" width="1920" height="1021">
  </div>
  <h1 class="title imgtop__title container">Репейное масло: вечный рецепт красоты</h1>
</div>
<article class="article">
  <div class="article__container container">
    <p class="article__intro">
      Репейное масло обладает массой полезных веществ, которые важны для красоты твоих волос и кожи. В этой статье мы
      расскажем, почему тебе обязательно следует попробовать это средство, и в чем его уникальность.
    </p>
    <div class="article__body">
      <h2 class="article__title">В чем же польза репейного масла?</h2>
      <p class="article__paragraph">
        Натуральное репейное масло - просто витаминная бомба! В нем в больших количествах содержатся витамины А, В, С и
        Е, микроэлементы кальций, железо, медь, хром, дубильные вещества, стеариновая и пальмитиновая кислоты, природный
        инулин.
      </p>
      <p class="article__paragraph">
        Такой щедрый состав позитивно сказывается на тканях человеческого организма - повышает защитные функции кожи,
        улучшает липидный обмен и местный иммунитет. Так что репейное масло вполне может использоваться для ухода за
        кожей лица, шеи, декольте и даже чувствительной кожи век. Его можно использовать как самостоятельное средство,
        так и в смеси с кремом. В народной медицине это масло, производимое из корня лопуха, используется для заживления
        ран, лечения угревой сыпи и экземы.
      </p>
      <div class="article__img">
        <img src="assets/img/bg/img-article01.png" alt="Aspera" width="1065" height="469">
      </div>
      <h2 class="article__title">Как использовать репейное масло для волос?</h2>
      <p class="article__paragraph">
        Масло в чистом виде нанести на корни массирующими движениями. Оставить на волосах на пару часов или целую ночь.
        Затем старательно смыть шампунем. Чистое масло может несколько жирнить волосы, так что не стоит делать такую
        маску перед какой-либо важной встречей.
      </p>
      <div class="article__wrapper">
        <p class="article__note">
          Почему репейное масло с красным перцем пользуется популярностью? Потому что перец вызывает прилив крови к коже
          головы, улучшая работу масла. Однако такое средство подходит далеко не всем.
        </p>
      </div>
      <p class="article__paragraph">
        Репейное масло с красным перцем нанести на волосы. Масло с такой добавкой продается готовое в аптеке. Также
        средство легко сделать дома смешав настойку красного перца с репейным маслом 1 к 1. Почему репейное масло с
        красным перцем пользуется популярностью? Потому что перец вызывает прилив крови к коже головы, улучшая работу
        масла. Однако такое средство подходит далеко не всем. после применения средства присмотрись к своим волосам:
        если они стали тусклыми - средство тебе не подходит.
      </p>
      <h2 class="article__title">Рецепты</h2>
      <div class="article__recipe">
        <h3 class="article__subtitle">Маска для роста волос</h3>
        <p>
          Смешай 3 ст. ложки репейного масла, 1 ч. ложку перцовой настойки (или горчичного порошка), 3 ч. ложки
          кондиционера для волос и пару капель эфирного масла.<br>
          Нанеси смесь на корни волос и кожу головы и оставь на 1 час.
        </p>
      </div>
    </div>
  </div>
</article>
<div class="links container">
  <div>
    <a class="links__prev" href="#"><span>&larr;</span> Масло для сухих волос: 10 домашних рецептов и готовые
      решения</a>
  </div>
  <div>
    <a class="links__next" href="#">Маски для волос с касторовым маслом <span>&rarr;</span></a>
  </div>
</div>
<section class="useful">
  <h2 class="title">Похожие статьи</h2>
  <div class="useful__container container">
    <a class="useful__link" href="article.html">
      <div class="useful__img">
        <img src="assets/img/bg/bg-useful-01.png" alt="Aspera" width="447" height="447">
      </div>
      <p class="useful__text">Свежие ароматы</p>
      item
    </a>
    <a class="useful__link" href="article.html">
      <div class="useful__img">
        <img src="assets/img/bg/bg-useful-02.png" alt="Aspera" width="447" height="447">
      </div>
      <p class="useful__text">Как улучшить цвет лица</p>
      item
    </a>
    <a class="useful__link" href="article.html">
      <div class="useful__img">
        <img src="assets/img/bg/bg-useful-03.png" alt="Aspera" width="447" height="447">
      </div>
      <p class="useful__text">Масло для релаксации</p>
      item
    </a>
  </div>
  <div class="button-wrapper container">
    <a class="button" href="articles-list.html">все статьи <span> &rarr;</span></a>
  </div>
  {% include "../templates/arrowup.njk" %}
</section>
{% include "../templates/footer.njk" %}