{% set title = "Масло для релаксации | Aspera" %}
{% include "../templates/header.njk" %}
<div class="imgtop imgtop--short">
  <div class="imgtop__img">
    <div class="imgtop__overlay"></div>
    <img src="assets/img/bg/bg-imptop01.png" alt="Aspera" width="1920" height="1021">
  </div>
</div>
<article class="article">
  <div class="article__container container">
    <p class="article__intro">
      Репейное масло обладает массой полезных веществ, которые важны для красоты твоих волос и кожи. В этой статье мы
      расскажем, почему тебе обязательно следует попробовать это средство, и в чем его уникальность.
    </p>
    <div class="article__body">
      <h2 class="article__title">В чем же польза репейного масла?</h2>
      <p>
        Натуральное репейное масло - просто витаминная бомба! В нем в больших количествах содержатся витамины А, В, С и
        Е, микроэлементы кальций, железо, медь, хром, дубильные вещества, стеариновая и пальмитиновая кислоты, природный
        инулин.
      </p>
      <p>
        Такой щедрый состав позитивно сказывается на тканях человеческого организма - повышает защитные функции кожи,
        улучшает липидный обмен и местный иммунитет. Так что репейное масло вполне может использоваться для ухода за
        кожей лица, шеи, декольте и даже чувствительной кожи век. Его можно использовать как самостоятельное средство,
        так и в смеси с кремом. В народной медицине это масло, производимое из корня лопуха, используется для заживления
        ран, лечения угревой сыпи и экземы.
      </p>
    </div>
  </div>
</article>
<section class="useful">
  <h2 class="title">Похожие статьи</h2>
  <div class="useful__container container">
    <a class="useful__link" href="article.html">
      <div class="useful__img">
        <img src="assets/img/bg/bg-useful-01.png" alt="Aspera" width="447" height="447">
      </div>
      <p class="useful__text">Свежие ароматы</p>
      item
    </a>
    <a class="useful__link" href="article.html">
      <div class="useful__img">
        <img src="assets/img/bg/bg-useful-02.png" alt="Aspera" width="447" height="447">
      </div>
      <p class="useful__text">Как улучшить цвет лица</p>
      item
    </a>
    <a class="useful__link" href="article.html">
      <div class="useful__img">
        <img src="assets/img/bg/bg-useful-03.png" alt="Aspera" width="447" height="447">
      </div>
      <p class="useful__text">Масло для релаксации</p>
      item
    </a>
  </div>
  <div class="button-wrapper container">
    <a class="button" href="articles-list.html">все статьи <span> &rarr;</span></a>
  </div>
  {% include "../templates/arrowup.njk" %}
</section>
{% include "../templates/footer.njk" %}