{% set title = "Каталог | Aspera" %}
{% include "../templates/header.njk" %}
<section class="catalog">
  <h1 class="title toptitle container">Каталог</h1>
  <div class="catalog__list container">
    <div class="catalog__item">
      <a class="catalog__link" href="category.html">
        <div class="catalog__img">
          <img src="assets/img/bg/catalog-bg-01.png" alt="Aspera" width="662" height="832">
        </div>
        <div class="catalog__inner">
          <h2 class="catalog__title title">Эфирные масла</h2>
        </div>
      </a>
    </div>
    <div class="catalog__item">
      <a class="catalog__link" href="category.html">
        <div class="catalog__img">
          <img src="assets/img/bg/catalog-bg-02.png" alt="Aspera" width="662" height="832">
        </div>
        <div class="catalog__inner">
          <h2 class="catalog__title title">Косметика</h2>
        </div>
      </a>
    </div>
  </div>
</section>
<div class="bground">
  {% include "../templates/arrowup.njk" %}
</div>
{% include "../templates/footer.njk" %}