{% set title = "Каталог | Aspera" %}
{% include "../templates/header.njk" %}
<section class="catalog">
  <h1 class="title toptitle container">Каталог</h1>
  <ul class="catalog__list container">
    <li class="catalog__item">
      <a class="catalog__link" href="#">
        <div class="catalog__img">
          <img src="assets/img/bg/catalog-bg-01.png" alt="Aspera" width="662" height="832">
        </div>
        <div class="catalog__inner">
          <h2 class="catalog__title title">Эфирные масла</h2>
        </div>
      </a>
    </li>
    <li class="catalog__item">
      <a class="catalog__link" href="#">
        <div class="catalog__img">
          <img src="assets/img/bg/catalog-bg-02.png" alt="Aspera" width="662" height="832">
        </div>
        <div class="catalog__inner">
          <h2 class="catalog__title title">Косметика</h2>
        </div>
      </a>
    </li>
  </ul>
</section>
{% include "../templates/arrowup.njk" %}
{% include "../templates/footer.njk" %}