{% set title = "Категории | Aspera" %}
{% include "../templates/header.njk" %}
<section class="category-list">
  <h1 class="title toptitle container">Эфирные масла</h1>
  <ul class="category-list__list container">
    <li class="category-list__item">
      <a class="category-list__link" href="category.html">
        <div class="category-list__img">
          <img src="assets/img/bg/category-list-bg-01.png" alt="Aspera" width="280" height="440">
        </div>
        <h2 class="category-list__title">Эфирные масла</h2>
      </a>
    </li>
    <li class="category-list__item">
      <a class="category-list__link" href="category.html">
        <div class="category-list__img">
          <img src="assets/img/bg/category-list-bg-02.png" alt="Aspera" width="280" height="440">
        </div>
        <h2 class="category-list__title">Косметические масла</h2>
      </a>
    </li>
    <li class="category-list__item">
      <a class="category-list__link" href="category.html">
        <div class="category-list__img">
          <img src="assets/img/bg/category-list-bg-03.png" alt="Aspera" width="280" height="440">
        </div>
        <h2 class="category-list__title">Парфюмерно-косметические масла</h2>
      </a>
    </li>
    <li class="category-list__item">
      <a class="category-list__link" href="category.html">
        <div class="category-list__img">
          <img src="assets/img/bg/category-list-bg-04.png" alt="Aspera" width="280" height="440">
        </div>
        <h2 class="category-list__title">Репейные масла</h2>
      </a>
    </li>
  </ul>
</section>
<div class="bground">
  {% include "../templates/arrowup.njk" %}
</div>
{% include "../templates/footer.njk" %}