{% set title = "Категория | Aspera" %}
{% include "../templates/header.njk" %}
<h1 class="title toptitle container">Эфирные масла</h1>
<div class="category container">
  <aside class="sidebar">
    <form action="#">
      <h2 class="sidebar__title title">Категория</h2>
      <select class="sidebar__select" name="category" id="">
        <option value="1">Эфирные масла</option>
        <option value="2">Косметические масла</option>
        <option value="3">Парфюмерно-косметические масла</option>
        <option value="4">Парфюмерно-косметические масла</option>
      </select>
      <h2 class="sidebar__title title">Аромат</h2>
      <div class="checkbox checkbox--square">
        <input type="checkbox" name="conifer" id="conifer" value="1" checked>
        <label for="conifer">Хвойный</label>
      </div>
      <div class="checkbox checkbox--square">
        <input type="checkbox" name="citrus" id="citrus" value="2">
        <label for="citrus">Цитрусовый</label>
      </div>
      <div class="checkbox checkbox--square">
        <input type="checkbox" name="fresh" id="fresh" value="3">
        <label for="fresh">Освежающий</label>
      </div>
      <div class="checkbox checkbox--square">
        <input type="checkbox" name="floral" id="floral" value="4">
        <label for="floral">Цветочный</label>
      </div>
      <div class="checkbox__showmore">
        <a href="#">Смотреть все</a>
      </div>
      <h2 class="sidebar__title title">Нота</h2>
      <div class="checkbox checkbox--square">
        <input type="checkbox" name="high" id="high" value="1">
        <label for="high">Верхняя</label>
      </div>
      <div class="checkbox checkbox--square">
        <input type="checkbox" name="low" id="low" value="2">
        <label for="low">Нижняя</label>
      </div>
      <div class="checkbox checkbox--square">
        <input type="checkbox" name="middle" id="middle" value="3">
        <label for="middle">Средняя</label>
      </div>
      <h2 class="sidebar__title title">Зона применения</h2>
      <select class="sidebar__select" name="zone" id="">
        <option value="1">Лицо</option>
        <option value="2">Лицо</option>
        <option value="3">Лицо</option>
        <option value="4">Лицо</option>
      </select>
      <h2 class="sidebar__title title">Тип кожи</h2>
      <div class="checkbox checkbox--square">
        <input type="checkbox" name="dry" id="dry" value="1" checked>
        <label for="dry">Сухая</label>
      </div>
      <div class="checkbox checkbox--square">
        <input type="checkbox" name="fat" id="fat" value="2">
        <label for="fat">Жирная</label>
      </div>
      <div class="checkbox checkbox--square">
        <input type="checkbox" name="sensitive" id="sensitive" value="3">
        <label for="sensitive">Чувствительная</label>
      </div>
      <div class="checkbox checkbox--square">
        <input type="checkbox" name="combo" id="combo" value="4">
        <label for="combo">Комбинированная</label>
      </div>
      <div class="checkbox checkbox--square">
        <input type="checkbox" name="problem" id="problem" value="5">
        <label for="problem">Проблемная</label>
      </div>
      <div class="checkbox checkbox--square">
        <input type="checkbox" name="mature" id="mature" value="6">
        <label for="mature">Зрелая</label>
      </div>
      <div class="checkbox checkbox--square">
        <input type="checkbox" name="normal" id="normal" value="7">
        <label for="normal">Нормальная</label>
      </div>
    </form>
  </aside>
  <section class="category__list">
    <ul>
      <li>
        <h3>эфирное масло</h3>
      </li>
    </ul>
  </section>
</div>

<div class="bground">
  {% include "../templates/arrowup.njk" %}
</div>
{% include "../templates/footer.njk" %}