{% set title = "Aspera | Home" %}
{% include "../templates/header.njk" %}
<div id="overlay"></div>

<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav__item" href="index.html">О компании</a>
      <a class="nav__item" href="projects-1.html">Каталог</a>
      <a class="nav__item" href="ourclients.html">Полезное</a>
      <a class="nav__item" href="media-page.html">Применение</a>
      <a class="nav__item" href="media-page.html">Контакты</a>
    </nav>
    <div class="hamburger">
      <span></span>
    </div>
  </div>
</header>

<main>

</main>

{% include "../templates/footer.njk" %}