{% set title = "Home | Aspera" %}
{% include "../templates/header-home.njk" %}
<section class="home">
  <div class="slider-header">
    <div class="slider-header__slide">
      <h1 class="title home__title">естественные способы укрепления здоровья</h1>
      <div class="slider-header__overlay"></div>
      <img class="slider-header__img" src="assets/img/bg/slid-header-01@1920x960.png" alt="Aspera" width="1920"
        height="960">
    </div>
    <div class="slider-header__slide">
      <h1 class="title home__title">естественные способы укрепления</h1>
      <div class="slider-header__overlay"></div>
      <img class="slider-header__img" src="assets/img/bg/slid-header-01@1920x960.png" alt="Aspera" width="1920"
        height="960">
    </div>
    <div class="slider-header__slide">
      <h1 class="title home__title">способы укрепления здоровья</h1>
      <div class="slider-header__overlay"></div>
      <img class="slider-header__img" src="assets/img/bg/slid-header-01@1920x960.png" alt="Aspera" width="1920"
        height="960">
    </div>
  </div>
  <div class="home__arrow container">
    <button class="home__prev">prev
      <span>
        <svg width="69" height="130" viewBox="0 0 69 130" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M65.6997 0.031738C67.2542 0.028839 68.5166 1.287 68.5195 2.8415C68.5209 3.59091 68.2232 4.30998 67.6925 4.83932L7.75644 64.7699L67.6925 124.7C68.7932 125.801 68.7932 127.585 67.6925 128.686C66.5919 129.786 64.8076 129.786 63.7069 128.686L1.78358 66.7624C0.684797 65.6634 0.684797 63.8816 1.78358 62.7823L63.7069 0.859253C64.2347 0.329651 64.9519 0.031738 65.6997 0.031738Z" />
        </svg>
      </span>
    </button>
    <button class="home__next">next
      <span>
        <svg width="69" height="130" viewBox="0 0 69 130" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M3.81144 129.479C2.25693 129.482 0.994545 128.224 0.991643 126.67C0.990323 125.92 1.28798 125.201 1.81864 124.672L61.7547 64.7414L1.81864 4.81108C0.718002 3.71045 0.718002 1.92611 1.81864 0.825475C2.91927 -0.275158 4.70361 -0.275158 5.80424 0.825475L67.7276 62.7488C68.8264 63.8479 68.8264 65.6296 67.7276 66.7289L5.80424 128.652C5.27649 129.182 4.55927 129.479 3.81144 129.479Z" />
        </svg>
      </span>
    </button>
  </div>
  <div class="home__down">
    <a class="home__link" href="#intro">узнать больше
      <span>
        <svg width="8" height="22" viewBox="0 0 8 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M4.00006 22L7.52089 18.4791L4.69298 18.4791L4.69298 -1.23612e-07L3.30705 -1.84193e-07L3.30704 18.4791L0.479091 18.4791L4.00006 22Z" />
        </svg>
      </span>
    </a>
  </div>
</section>
<section class="intro" id="intro">
  <div class="intro__wrapper container">
    <h2 class="title intro__title">Бережно сохраняя лучшее от природы</h2>
    <div class="intro__img">
      <img src="assets/img/bg/home-bg-01.png" alt="Aspera" width="648" height="648">
    </div>
    <div class="intro__dsc">
      <p class="intro__paragraph">
        С 2006 года мы производим 100% натуральные эфирные, косметические и пищевые масла. Мы используем
        высококачественное сырье, полученное из растений, произрастающих более чем в 30 странах мира.
      </p>
      <p class="intro__paragraph">
        Основной принцип нашей работы – сохранить лучшие природные свойства сырья на всех этапах его производства,
        бережно
        заботясь о природе и сохранении ее богатств.
      </p>
    </div>
  </div>
  <div class="button-wrapper container">
    <a class="button" href="#">узнать больше <span> &rarr;</span></a>
  </div>
</section>
<section class="samples">
  <div class="samples__slider">
    <div class="samples__item">
      <div class="samples__bg">
        <img src="assets/img/bg/img-prod-00.png" alt="Aspera" width="1189" height="960">
      </div>
      <div class="samples__dsc">
        <div class="samples__pic">
          <img src="assets/img/bg/img-prod-01.png" alt="Aspera" width="658" height="799">
        </div>
        <div class="samples__col">
          <a class="samples__link" href="product.html">
            <span class="samples__mark">новинка</span>
            <h3 class="samples__type">эфирное масло</h3>
            <h2 class="title samples__title">Грейпфрут</h2>
            <div class="samples__text">
              <p>
                Помогает достичь желаемого, побуждает веру и решительность, оптимизм и трудолюбие, целеустремленность и
                лидерство. Способствует раскрепощенности и усилению полового влечения.
              </p>
            </div>
            <p class="samples__price">5 200 <span>₽</span></p>
          </a>
        </div>
      </div>
    </div>
    <div class="samples__item">
      <div class="samples__bg">
        <img src="assets/img/bg/img-prod-00.png" alt="Aspera" width="1189" height="960">
      </div>
      <div class="samples__dsc">
        <div class="samples__pic">
          <img src="assets/img/bg/img-prod-01.png" alt="Aspera" width="912" height="800">
        </div>
        <div class="samples__col">
          <a class="samples__link" href="product.html">
            <span class="samples__mark">новинка</span>
            <h3 class="samples__type">эфирное масло</h3>
            <h2 class="title samples__title">Грейпфрут</h2>
            <div class="samples__text">
              <p>
                Помогает достичь желаемого, побуждает веру и решительность, оптимизм и трудолюбие, целеустремленность и
                лидерство. Способствует раскрепощенности и усилению полового влечения.
              </p>
            </div>
            <p class="samples__price">5 200 <span>₽</span></p>
          </a>
        </div>
      </div>
    </div>
    <div class="samples__item">
      <div class="samples__bg">
        <img src="assets/img/bg/img-prod-00.png" alt="Aspera" width="1189" height="960">
      </div>
      <div class="samples__dsc">
        <div class="samples__pic">
          <img src="assets/img/bg/img-prod-01.png" alt="Aspera" width="912" height="800">
        </div>
        <div class="samples__col">
          <a class="samples__link" href="product.html">
            <span class="samples__mark">новинка</span>
            <h3 class="samples__type">эфирное масло</h3>
            <h2 class="title samples__title">Грейпфрут</h2>
            <div class="samples__text">
              <p>
                Помогает достичь желаемого, побуждает веру и решительность, оптимизм и трудолюбие, целеустремленность и
                лидерство. Способствует раскрепощенности и усилению полового влечения.
              </p>
            </div>
            <p class="samples__price">5 200 <span>₽</span></p>
          </a>
        </div>
      </div>
    </div>
    <div class="samples__item">
      <div class="samples__bg">
        <img src="assets/img/bg/img-prod-00.png" alt="Aspera" width="1189" height="960">
      </div>
      <div class="samples__dsc">
        <div class="samples__pic">
          <img src="assets/img/bg/img-prod-01.png" alt="Aspera" width="912" height="800">
        </div>
        <div class="samples__col">
          <a class="samples__link" href="product.html">
            <span class="samples__mark">новинка</span>
            <h3 class="samples__type">эфирное масло</h3>
            <h2 class="title samples__title">Грейпфрут</h2>
            <div class="samples__text">
              <p>
                Помогает достичь желаемого, побуждает веру и решительность, оптимизм и трудолюбие, целеустремленность и
                лидерство. Способствует раскрепощенности и усилению полового влечения.
              </p>
            </div>
            <p class="samples__price">5 200 <span>₽</span></p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="products container">
  <h2 class="title">Наша продукция</h2>
  <div class="products__slider">
    <div class="products__item">
      <div class="products__img">
        <img src="assets/img/bg/bg-prod-01.png" alt="Aspera" width="328" height="409">
      </div>
      <a class="products__link" href="#">
        <h2 class="products__title">Эфирные масла</h2>
      </a>
    </div>
    <div class="products__item">
      <div class="products__img">
        <img src="assets/img/bg/bg-prod-02.png" alt="Aspera" width="328" height="409">
      </div>
      <a class="products__link" href="#">
        <h2 class="products__title">Косметические масла</h2>
      </a>
    </div>
    <div class="products__item">
      <div class="products__img">
        <img src="assets/img/bg/bg-prod-03.png" alt="Aspera" width="328" height="409">
      </div>
      <a class="products__link" href="#">
        <h2 class="products__title">Парфюмерно-косметические масла</h2>
      </a>
    </div>
    <div class="products__item">
      <div class="products__img">
        <img src="assets/img/bg/bg-prod-01.png" alt="Aspera" width="328" height="640">
      </div>
      <a class="products__link" href="#">
        <h2 class="products__title">Эфирные масла</h2>
      </a>
    </div>
    <div class="products__item">
      <div class="products__img">
        <img src="assets/img/bg/bg-prod-02.png" alt="Aspera" width="407" height="640">
      </div>
      <a class="products__link" href="#">
        <h2 class="products__title">Парфюмерно-косметические масла</h2>
      </a>
    </div>
  </div>
  <button class="products__prev">prev
    <span>
      <svg width="22" height="8" viewBox="0 0 22 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M7.9372e-06 4.00004L3.52088 7.52087L3.52088 4.69297L22 4.69297L22 3.30703L3.52088 3.30703L3.52088 0.479077L7.9372e-06 4.00004Z" />
      </svg>
    </span>
  </button>
  <button class="products__next">next
    <span>
      <svg width="22" height="8" viewBox="0 0 22 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M22 3.99995L18.4791 0.479126V3.30703L0 3.30703L0 4.69297L18.4791 4.69297V7.52092L22 3.99995Z" />
      </svg>
    </span>
  </button>
</section>
<section class="useful">
  <h2 class="title">Полезное</h2>
  <div class="useful__container container">
    <a class="useful__link" href="article.html">
      <div class="useful__img">
        <img src="assets/img/bg/bg-useful-01.png" alt="Aspera" width="447" height="447">
      </div>
      <p class="useful__text">Свежие ароматы</p>
      item
    </a>
    <a class="useful__link" href="article.html">
      <div class="useful__img">
        <img src="assets/img/bg/bg-useful-02.png" alt="Aspera" width="447" height="447">
      </div>
      <p class="useful__text">Как улучшить цвет лица</p>
      item
    </a>
    <a class="useful__link" href="article.html">
      <div class="useful__img">
        <img src="assets/img/bg/bg-useful-03.png" alt="Aspera" width="447" height="447">
      </div>
      <p class="useful__text">Масло для релаксации</p>
      item
    </a>
  </div>
  <div class="button-wrapper container">
    <a class="button" href="articles-list.html">все статьи <span> &rarr;</span></a>
  </div>
  {% include "../templates/arrowup.njk" %}
</section>
{% include "../templates/footer-home.njk" %}