{% set title = "Спасибо! | Aspera" %}
{% include "../templates/header.njk" %}
<h1 class="title toptitle container">Спасибо,<br>Ваш заказ зарегистрирован!</h1>
<p class="orders-thanks container">
  Заказ №<a href="orders.html">122345463</a> обрабатывается специалистами отдела продаж. В ближайшее время с Вами
  свяжутся для уточнения деталей заказа.
</p>
<div class="button-right container">
  <a class="button" href="catalog.html"><span>&larr; </span> вернуться в каталог</a>
</div>
<div class="bground">
  {% include "../templates/arrowup.njk" %}
</div>
{% include "../templates/footer.njk" %}