{% set title = "Спасибо! | Aspera" %}
{% include "../templates/header.njk" %}
<h1 class="title toptitle container">Спасибо за заказ!<br>Ваш заказ был отправлен.</h1>
<p class="orders-thanks container">
  Заказ №<a href="orders.html">122345463</a> был отправлен нашим менеджерам. Наши специалисты свяжутся с Вами в
  ближайшее время для уточнения деталей. Спасибо за доверие!
</p>
<div class="button-right container">
  <a class="button" href="catalog.html"><span>&larr; </span> вернуться в каталог</a>
</div>
<div class="bground">
  {% include "../templates/arrowup.njk" %}
</div>
{% include "../templates/footer.njk" %}