{% set title = "Производство | Aspera" %}
{% include "../templates/header.njk" %}
<div class="imgtop">
  <div class="imgtop__img">
    <div class="imgtop__overlay"></div>
    <img src="assets/img/bg/bg-imptop03.png" alt="Aspera" width="1920" height="816">
  </div>
  <h1 class="title imgtop__title container">Производство</h1>
  <p class="imgtop__subtitle">современное оборудование и новейшие технологии</p>
</div>
<section>
  <div class="pagerow">
    <div class="pagerow__rel">
      <!-- <div class="pagerow__overlay"></div> -->
      <img src="assets/img/bg/production-bg-01.png" alt="Aspera" width="960" height="960">
      <div class="pagerow__dsc">
        <p class="pagerow__slogan pagerow__slogan--black title">100% натуральное растительное сырье</p>
      </div>
    </div>
    <div class="pagerow__container container">
      <div>
        <h2 class="pagerow__title title">Высококлассное производство</h2>
        <p class="pagerow__paragraph">
          Производство АСПЕРА – это высококлассное производство, оснащенное современным оборудованием и новейшие
          технологии, позволяющие обеспечить безупречное качество продукции на всех стадиях ее производства.
          Реализация политики бережливого производства и внедрение международных стандартов ISO позволит нам выйти на
          новый уровень культуры производства.
        </p>
        <a class="button" href="about.html">подробнее о компании <span> &rarr;</span></a>
      </div>
    </div>
  </div>
</section>
<div class="video container">
  <video class="video__video" poster="assets/img/bg/production-bg-03.png">
    <source src="assets/img/vids/la_grange.mp4" type="video/mp4" />
  </video>
  <div class="video__playpause"></div>
  <div class="video__title title">Этапы нашего производства</div>
</div>
<section class="production container">
  <ul class="production__list">
    <li class="production__item">
      <span class="production__num">01</span>
      <h2 class="production__title">Международные стандраты</h2>
      <p class="production__paragraph">
        ISO 9001:2008, ISO 22002:2005 Мы внедряем стандарты, чтобы соответствовать международным требованиям
      </p>
    </li>
    <li class="production__item">
      <span class="production__num">02</span>
      <h2 class="production__title">Бережливое производство</h2>
      <p class="production__paragraph">
        АСПЕРА – это сплоченная команда сильных, опытных и квалифицированных профессионалов. Мы ценим все настоящее и
        подлинное.
      </p>
    </li>
    <li class="production__item">
      <span class="production__num">03</span>
      <h2 class="production__title">Контроль качества</h2>
      <p class="production__paragraph">
        Наша продукция представлена в более чем 20 000 аптеках России. Доверие потребителя – это лучшая награда за
        качество.
      </p>
    </li>
  </ul>
</section>

<div class="bground">
  {% include "../templates/arrowup.njk" %}
</div>
{% include "../templates/footer.njk" %}